:root {
    --primaria: #5aa9e6;
    /* Azul suave */
    --primaria-escura: #428ec9;
    --secundaria: #9db6c5;
    --texto: #2e3a45;
    --cinza: #d5e3f0;
    --radius: 14px;
    --sombra: 0 6px 20px rgba(0, 0, 0, 0.12);
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--secundaria);
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    background: white;
    width: 320px;
    margin: 80px auto;
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

h2 {
    color: var(--sombra);
    margin-bottom: 10px;
}

input {
    padding: 12px;
    border-radius: var(--radius);
    border: 2px solid var(--borda);
    outline: none;
    transition: .2s;
}

input:focus {
    border-color: var(--primaria);
}

button {
    padding: 12px;
    background: var(--primaria-escura);
    color: var(--sombra);
    border: 2px solid var(--primaria-escura);
    border-color: #000000;
    border-radius: var(--radius);
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

button:hover {
    background: #7da7b8;
}